.order {
  position: relative;
  width: $default-width;

  &__card {
    position: absolute;
    top: 16%;
    left: 15%;
    // border: 3px solid white;
    color: white;
    text-align: center;
    width: 70%;
    &__image {
      font-size: 9rem;
      margin-bottom: 2rem;
    }
    &__title {
      font-size: 6rem;
      padding: 0 24rem;
      font-weight: bold;
      line-height: 6rem;
      margin-bottom: 1rem;
    }
    &__description {
      font-size: 2rem;
      padding: 0 25rem;
      margin-bottom: 2rem;
    }
    &__btn {
      border: 1px solid rgba(255, 255, 255, 1);
      margin: 0 4rem;
      background: transparent;
      color: white;
      padding: 1.5rem 4rem;
    //   letter-spacing: 3px;
      font-size: 2rem; 
      &:hover {
        background: rgba(255, 255, 255, 0.25);
        color: black;
      }
    }
  }
}
